body {
    background: url(background.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

.header {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.clock {
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
    width: 10%;
    border: 2px solid #0004756b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
    font-size: 25px;
    background: #673ab7d1;
}

.status {
    position: relative;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 35px;
}

.user {
    position: relative;
    display: flex;
    width: 20%;
}

.user-login {
    position: relative;
    display: flex;
    width: 95%;
    background: #673ab7d1;
    border: 2px solid #0004756b;
    padding-left: 1px;
}

.user-input {
    display: flex flex direction column;
}

.user-login::-webkit-input-placeholder {
    color: #e7ff00ba;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
    font-size: 8px;
}

.signing {
    position: relative;
    display: flex;
    background: #e7ff00ba;
    justify-content: center;
    align-items: center;
    height: 20px;
    font-size: 10px;
    border: 2px solid #0004756b;
}

.main-menu {
    position: relative;
    display: flex;
}

.menu-title:not(:last-child) {
    border-right: 1px solid #0004756b;
}

.menu-title {
    position: relative;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-top: 2px solid #0004756b;
    border-bottom: 2px solid #0004756b;
    font-size: 10px;
    background: #673ab7d1;
}

.active {
    border: 2px solid #feff00 !important;
    background: #673ab7d1;
}

.input {
    margin: 5px 0px;
    position: relative;
    display: flex;
}

.when {
    position: relative;
    display: flex;
    width: 10%;
    background: #673ab7d1;
    border: 0px;
    border-right: 2px solid #0004756b;
}

.when::-webkit-input-placeholder {
    padding-left: 1px;
    color: #e7ff00ba;
}

.content {
    margin-right: 5px;
    position: relative;
    display: flex;
    width: 80%;
    background: #673ab7d1;
    border: 0px;
}

.content::-webkit-input-placeholder {
    padding-left: 1px;
    color: #e7ff00ba;
}

.add-block {
    width: 10%;
    position: relative;
    display: flex;
    border: 0px;
    background: #e7ff00ba;
    justify-content: center;
    align-items: center;
    height: 15px;
    font-size: 10px;
    border: 2px solid #0004756b;
}

.reminder {
    position: relative;
    display: flex;
}

.reminder-title {
    position: relative;
    display: flex;
    height: 20px;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #0004756b;
    border-bottom: 2px solid #0004756b;
    font-size: 10px;
}

.reminder-title:not(:last-child) {
    border-right: 2px solid #0004756b;
}

.reminder-time {
    width: 10%;
    background: #673ab7d1;
}

.reminder-edit {
    width: 3%;
    background: url(edit.jpg);
    background-size: 100% 6vh;
    background-repeat: no-repeat;
    border: 2px solid black !important;
}

.reminder-text {
    width: 77%;
    background: #673ab7d1;
}

.reminder-status {
    width: 10%;
    border-left: 2px solid #0004756b;
    background: #008000ad;
}


